@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff; /* Light mode background */
  }
  
  body.dark {
    background-color: #1a202c; /* Dark mode background */
    color: white; /* Dark mode text color */
  }